

.expense-items{
    display: flex;
    background-color: rgb(132, 124, 124);
    height: 77px;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid #ffffff;
    width:700px;
    margin-top: 28px;
    border-radius: 8px;
    padding: 10px;
}
.expense-amount{
    background-color: rgb(171, 108, 230);
    width: 113px;
    height: 46px;
    border-radius: 17px;
    padding: 6px;
    font-weight: bold;
    font-size: 23px;
    border: 1px solid #ffffff;
}
.expense-date{
    border: 1px solid #000000;
    border-radius: 11px;
    width: 88px;
    height: 66px;
    margin: 12px 0px 12px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}
.expense-title{
    width:250px;
}
.btn{
    font-weight: 700;
    border-radius: 10px;
    padding: 3px;
}
.card{
    background-color: black;
    border-radius: 8px;
    padding: 21px;
    width: 742px;
    margin: auto;
    margin-top: 50px;
}
.expense-items:first-child{
    margin-top:0px
}

.new-expense-form{
    background-color: rgb(234, 188, 232);
    height: 200px;
    padding:25px;

}
.new-expense-div{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 20px;

}
.new-expense-date{
        font-weight: 700;
        font-size: 20px;
        margin-top: 57px;
}
.new-expense-btn{
    position: relative;
}
.new-btn {
    border-radius: 6px;
    width: 119px;
    height: 37px;
    position: absolute;
    right: -6px;
    bottom: -41px;
    background-color: rgb(171, 108, 230);
    font-size: 19px;
    font-weight: bold;
    padding: 5px;
    color: #ffffff;
}
.new-btn:hover{
    background-color:rgb(139, 35, 243); 
    font-size:15px;
}
input{
    margin-left: 10px;
}
.expense-filter {
        padding: 20px;
        margin-left: 3px;
        width: 689px;
        background-color: pink;
        border: 1px solid #ffffff;
        border-radius: 8px;
        box-shadow: 3px 3px rgb(113 0 101);
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        font-size: 25px;
}
.expense-filter-select{
    width: 88px;
    font-size: 18px;
    font-weight: 600;
}

.expense-not-found{
    background-color: #ffffff;
    width: 481px;
    color: red;
    border-radius: 8px;
}

.chart-bar{
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    width: 702px;
    height: 250px;
    background-color: white;
    padding: 20px;
}
.chart-bar-inner{
    width: 13px;
    height: 182px;
    border-radius: 10px;
    border: 1px solid black;
}
.add-expense-btn{
    width: 365px;
    height: 115px;
    margin-top: 20px;
    margin-left: 500px;
    font-size: 30px;
    font-weight: 700;
    background-color: purple;
    border: 20px solid white;
    border-radius: 20px;
    cursor: pointer;
}
.add-expense-btn:hover{
    background-color: rgb(213, 195, 198);;
}
.add-expense-btn:hover{
    transform: scale(120%);
}

